.ImageI{
    padding-top: 6%;
    width: 100%;
    height:85%;
    
}
.ImageC{
    width: 100%;
    height: 100%;
    
}
.ImageD{
    width: 80%;
    padding-top: 18%;
    padding-left: 30%;
    padding-bottom: 1%;
    
    
}
.imgCaro{
    width: 100%;
    height: 250px;
    
}
.imghome{
    width: 25px;
    height: 25px;
    margin-bottom: 5px;
}
.backgroundModel{
    background-color: rgb(255, 255, 255);
    
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;

}