.borderLeft-FS{
    padding-right: 151px;
}
.borderLeft-M{
    padding-right: 99px;
}

.borderLeft-C{
    padding-right: 95px;
}
.buttonConf{
    width: 150px;
}
.dateC{
    padding-right: 150px;
}
.meter{
    padding-right: 126px;
}
.buttonInfo{
    width: 250px;
}

.direct{
    padding-right: 117px;
}

.buttonCan {
    width: 150px;
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 30px;
}

.buttonCre {
    margin-bottom: 30px;
    width: 150px;
    margin-right: 90px;
    margin-left: 90px;
}
.FormBody {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}
.titleMod{
    
    font-weight: bolder;
}