.cardClaim{

    
    
    margin-bottom: 5%;
    
    
}
.cardClaimBody{
    

        background-color: white;
    
}

.cardHome{
    background-color: #6993f9;
    text-align: center ;

}
.cardHeader{
    text-align: center;
    color: rgb(252, 252, 252);
    text-decoration:solid;
    text-shadow: 50px;
}
.probe{
    background: #faf3b5;
}