/*.borderLeft-FS{
    padding-right: 133px;
}*/
/*
.borderLeft-M{
    padding-right: 69px;
}*/
/*
.borderLeft-D{
    padding-right: 92px;
}
*/
/*
.borderLeft-C{
    padding-right: 64px;
}
*/
.buttonConf{
    width: 150px;
}

.buttonInfo{
    width: 250px;
}
/*
.Plumber{
    padding-right: 102px;
}
*/
/*
.cost{
    padding-right: 8px;
}
*/
.article{
    padding-right: 60px;
}
.select{
    padding-right: 100px;
}
/*
.cant{
    padding-right: 95px;
}
*/
/*
.obser{
    padding-right: 61px;
}
*/
/*
.direct{
    padding-right: 90px;
}*/
/*
.nmeter{
    padding-right: 87px;
}
.dmeter{
    padding-right: 28px;
}
*/
/*
.email{
    padding-right: 168px
}
.pass{
    padding-right: 118px
}
*/
/*
.RePass{
    padding-right: 2px
}
*/
.ciR{
    padding-right: 175px;
}
.Lpass{
    padding-right: 50px
}
.Lemail{
    padding-right: 120px
}