.ContBodyInf{
    margin-top: 50px;
    padding-left: 7%;
    padding-right: 7%;
}
.cardTP{
    background: white;
}
.textTitle{
    font-weight:900;
    color:rgb(88, 88, 88);
}
.word{
    font-weight: bolder;
    color: rgb(56, 56, 56);
    
}
.printButton {
    @media print{
      display: none
    }
}
.date_map {
    color: blue;
}