.ci {
    padding-right: 183px;
}

.name {
    padding-right: 132px;
}

.nameP {
    padding-right: 56px;
}

.nameM {
    padding-right: 50px;
}

.direction {
    padding-right: 117px;
}

.phone {
    padding-right: 121px;
}

.date {
    padding-right: 74px;
}

.bodyP {
    
}

.buttonCan {
    width: 150px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 30px;
}

.buttonCre {
    margin-bottom: 30px;
    width: 150px;
   
}

.FormBody {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.ContBodyCret {
    margin-top: 30px;
    padding-left: 20%;
    padding-right: 20%;
}

.search {
    padding-right: 43px;
}

.textPres {
    margin-left: 50px;
    margin-right: 150px;
}

.Tesorera {
    margin-bottom: 50px;
    
}

.Presidente {
    margin-bottom: 45px;
    margin-right: 100px;
}

.textPlum {
    margin-left: 50px;
    margin-right: 150px;

}

.borderLeft-D {
    padding-right: 51px;
}

.nmeter {
    padding-right: 87px;
}

.dmeter {
    padding-right: 28px;
}