.email{
    padding-right: 143px
}
.pass{
    padding-right: 103px
}
.buttonCan {
    width: 150px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 30px;
}

.buttonCre {
    margin-bottom: 30px;
    width: 150px;
    margin-right: 10%;
    margin-left: 10%;
}