Nav {
    color: #f9fafb;
    font-weight: bold;
};

.links {
    
    font-weight: bold;
}
.but{
    border-color: #f9fafb;
    
}
.btn-primary {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #0a58ca;
}
.buttonIni{
    font-weight: bold;
}