body {
  background: #E0EAFC; /*fallback for old browsers*/
  background: -webkit-linear-gradient(to right,#CFDEF3,#E0EAFC);/*Chrome*/
  background: linear-gradient(to right,#CFDEF3,#E0EAFC);/* W3C,IE10+/edge,firef*/
}
